@define-mixin content-wrapper {
  max-width: var(--page-max-width--with-padding);
  padding-inline: var(--page-spacing-inline);
  margin-inline: auto;
}

@define-mixin truncate-single-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@define-mixin pseudoblockelement {
  display: block;
  content: '';
  position: absolute;
}

@define-mixin truncate-lines $number-of-lines {
  /* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number-of-lines;
  overflow: hidden;
}

@define-mixin text-content {
  & > {
    blockquote {
      font-style: italic;
    }
    p,
    ul,
    ol {
      &:not(:only-child) {
        margin-block: calc(var(--unit) * 2);
      }
    }
    ul li {
      list-style-type: disc;
    }
    ul,
    ol {
      li li {
        margin-inline-start: calc(var(--unit) * 4);
      }
    }
  }
  iframe {
    width: 100%;
  }

  /* stylelint-enable selector-max-type, selector-max-compound-selectors */
}
