.u-screenreader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  white-space: nowrap;
}

.u-mobile-only {
  @media (min-width: $bp-medium-min) {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

.u-desktop-only {
  @media (max-width: $bp-medium-max) {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

.s-text-content {
  @mixin text-content;
}
