{% extends 'singular.twig' %}

{% block singular_article_class ' c-article-alpha' %}


{% block content_area_inner_content %}

  {{ __('This is a template for a regular page', 'theme_domain') }}

  <div class="c-article-alpha__content">
    {{ parent() }}
  </div>

{% endblock %}
