:root {
  --comment: 'Spacing variables';

  --unit: 4px;

  /* Only numbered spacing variables here */
  --spacing-300: 20px;
  --spacing-500: 40px;

  /* Named spacing variables */
  --page-spacing-inline: var(--spacing-300);
  @media (min-width: $bp-medium-min) {
    --page-spacing-inline: var(--spacing-500);
  }
}
