:root {
  --comment: 'Typography styles';

  /**
  * Font sizes
  */
  --font-size-500: 16px;

  /**
  * Line height
  */
  --line-height-100: 1;
  --line-height-400: 1.4;

  --font-base: 'Gentium Book Plus', Helvetica, Arial, sans-serif;
  --font-size-base: var(--font-size-500);
  --line-height-base: var(--line-height-400);
}
